.contenedor_nombre {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 100px; */
  background-color: rgba(0, 0, 0, 0.264);
  backdrop-filter: blur(1px);
}

.contenedor_nombre h1 {
  font-size: 4rem;
  font-family: "Fascinate", system-ui;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  text-shadow: 0px 0px 10px #18160a;
}
